.App {
  font-family: Poppins, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

li.active {
  background-color: #ffff99;
}

input, button {
  margin: 5px 0;
  padding: 5px;
}

.timer {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

img{
  width: 316px;
}