body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 200px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.exercise-input, .duration-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn, .save-btn, .start-btn, .stop-btn, .delete-btn, .close-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-btn {
  background-color: #4CAF50;
}

.save-btn {
  background-color: #2196F3;
}

.start-btn {
  background-color: #4CAF50;
}

.stop-btn, .delete-btn {
  background-color: #f44336;
}

.close-btn {
  background-color: #2196F3;
}

.add-btn:hover, .save-btn:hover, .start-btn:hover, .stop-btn:hover, .delete-btn:hover, .close-btn:hover {
  opacity: 0.8;
}

.exercise-list {
  list-style-type: none;
  padding: 0;
}

.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.exercise-item.active {
  background-color: #fff9c4;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.timer {
  font-size: 36px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: #2196F3;
  margin-bottom: 10px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
  margin-top: 0;
}

.duration-input-container {
  display: flex;
  align-items: center;
}

.duration-input {
  flex-grow: 1;
  margin-right: 5px;
}

.duration-label {
  white-space: nowrap;
}

.exercise-gif {
  /* Your existing styles */
  display: block; /* Ensures the image is centered */
  margin: 0 auto; /* Centers the image horizontally */
}